## NumPyProblems
 1. Basic Array Operations   
 Convert the mpg column into a NumPy array and calculate:   
 ○ The mean,median,andstandard deviation of mpg.  
 ○ The number of cars with mpg greater than 25.

In [5]:
import numpy as np

In [7]:
import pandas as pd

In [9]:
df1=pd.read_csv("C:\\Users\\niranjana\\Downloads\\auto-mpg.csv")

In [11]:
df1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [13]:
list1=df1["mpg"]

In [15]:
list1

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [17]:
arr1=np.array(list1)

In [19]:
arr1

array([18. , 15. , 18. , 16. , 17. , 15. , 14. , 14. , 14. , 15. , 15. ,
       14. , 15. , 14. , 24. , 22. , 18. , 21. , 27. , 26. , 25. , 24. ,
       25. , 26. , 21. , 10. , 10. , 11. ,  9. , 27. , 28. , 25. , 25. ,
       19. , 16. , 17. , 19. , 18. , 14. , 14. , 14. , 14. , 12. , 13. ,
       13. , 18. , 22. , 19. , 18. , 23. , 28. , 30. , 30. , 31. , 35. ,
       27. , 26. , 24. , 25. , 23. , 20. , 21. , 13. , 14. , 15. , 14. ,
       17. , 11. , 13. , 12. , 13. , 19. , 15. , 13. , 13. , 14. , 18. ,
       22. , 21. , 26. , 22. , 28. , 23. , 28. , 27. , 13. , 14. , 13. ,
       14. , 15. , 12. , 13. , 13. , 14. , 13. , 12. , 13. , 18. , 16. ,
       18. , 18. , 23. , 26. , 11. , 12. , 13. , 12. , 18. , 20. , 21. ,
       22. , 18. , 19. , 21. , 26. , 15. , 16. , 29. , 24. , 20. , 19. ,
       15. , 24. , 20. , 11. , 20. , 21. , 19. , 15. , 31. , 26. , 32. ,
       25. , 16. , 16. , 18. , 16. , 13. , 14. , 14. , 14. , 29. , 26. ,
       26. , 31. , 32. , 28. , 24. , 26. , 24. , 26. , 31. , 19. , 18. ,
       15. , 15. , 16. , 15. , 16. , 14. , 17. , 16. , 15. , 18. , 21. ,
       20. , 13. , 29. , 23. , 20. , 23. , 24. , 25. , 24. , 18. , 29. ,
       19. , 23. , 23. , 22. , 25. , 33. , 28. , 25. , 25. , 26. , 27. ,
       17.5, 16. , 15.5, 14.5, 22. , 22. , 24. , 22.5, 29. , 24.5, 29. ,
       33. , 20. , 18. , 18.5, 17.5, 29.5, 32. , 28. , 26.5, 20. , 13. ,
       19. , 19. , 16.5, 16.5, 13. , 13. , 13. , 31.5, 30. , 36. , 25.5,
       33.5, 17.5, 17. , 15.5, 15. , 17.5, 20.5, 19. , 18.5, 16. , 15.5,
       15.5, 16. , 29. , 24.5, 26. , 25.5, 30.5, 33.5, 30. , 30.5, 22. ,
       21.5, 21.5, 43.1, 36.1, 32.8, 39.4, 36.1, 19.9, 19.4, 20.2, 19.2,
       20.5, 20.2, 25.1, 20.5, 19.4, 20.6, 20.8, 18.6, 18.1, 19.2, 17.7,
       18.1, 17.5, 30. , 27.5, 27.2, 30.9, 21.1, 23.2, 23.8, 23.9, 20.3,
       17. , 21.6, 16.2, 31.5, 29.5, 21.5, 19.8, 22.3, 20.2, 20.6, 17. ,
       17.6, 16.5, 18.2, 16.9, 15.5, 19.2, 18.5, 31.9, 34.1, 35.7, 27.4,
       25.4, 23. , 27.2, 23.9, 34.2, 34.5, 31.8, 37.3, 28.4, 28.8, 26.8,
       33.5, 41.5, 38.1, 32.1, 37.2, 28. , 26.4, 24.3, 19.1, 34.3, 29.8,
       31.3, 37. , 32.2, 46.6, 27.9, 40.8, 44.3, 43.4, 36.4, 30. , 44.6,
       40.9, 33.8, 29.8, 32.7, 23.7, 35. , 23.6, 32.4, 27.2, 26.6, 25.8,
       23.5, 30. , 39.1, 39. , 35.1, 32.3, 37. , 37.7, 34.1, 34.7, 34.4,
       29.9, 33. , 34.5, 33.7, 32.4, 32.9, 31.6, 28.1, 30.7, 25.4, 24.2,
       22.4, 26.6, 20.2, 17.6, 28. , 27. , 34. , 31. , 29. , 27. , 24. ,
       23. , 36. , 37. , 31. , 38. , 36. , 36. , 36. , 34. , 38. , 32. ,
       38. , 25. , 38. , 26. , 22. , 32. , 36. , 27. , 27. , 44. , 32. ,
       28. , 31. ])

In [21]:
np.mean(arr1)

23.514572864321607

In [23]:
np.median(arr1)

23.0

In [25]:
np.std(arr1)

7.806159061274433

In [27]:
sum(arr1>25)

158

# 2. Filtering
 Using NumPy,filter all cars with more than 6 cylinders.
 Return the corresponding car_name as a list.

In [30]:
cyl1=np.array(df1.cylinders>6)

In [32]:
sum(cyl1)

103

In [34]:
car=df1[cyl1]

In [36]:
car

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
291,19.2,8,267.0,125,3605,15.0,79,1,chevrolet malibu classic (sw)
292,18.5,8,360.0,150,3940,13.0,79,1,chrysler lebaron town @ country (sw)
298,23.0,8,350.0,125,3900,17.4,79,1,cadillac eldorado
300,23.9,8,260.0,90,3420,22.2,79,1,oldsmobile cutlass salon brougham
364,26.6,8,350.0,105,3725,19.0,81,1,oldsmobile cutlass ls

In [38]:
np.array(car["car name"]).tolist()

['chevrolet chevelle malibu',
 'buick skylark 320',
 'plymouth satellite',
 'amc rebel sst',
 'ford torino',
 'ford galaxie 500',
 'chevrolet impala',
 'plymouth fury iii',
 'pontiac catalina',
 'amc ambassador dpl',
 'dodge challenger se',
 "plymouth 'cuda 340",
 'chevrolet monte carlo',
 'buick estate wagon (sw)',
 'ford f250',
 'chevy c20',
 'dodge d200',
 'hi 1200d',
 'chevrolet impala',
 'pontiac catalina brougham',
 'ford galaxie 500',
 'plymouth fury iii',
 'dodge monaco (sw)',
 'ford country squire (sw)',
 'pontiac safari (sw)',
 'chevrolet impala',
 'pontiac catalina',
 'plymouth fury iii',
 'ford galaxie 500',
 'amc ambassador sst',
 'mercury marquis',
 'buick lesabre custom',
 'oldsmobile delta 88 royale',
 'chrysler newport royal',
 'amc matador (sw)',
 'chevrolet chevelle concours (sw)',
 'ford gran torino (sw)',
 'plymouth satellite custom (sw)',
 'buick century 350',
 'amc matador',
 'chevrolet malibu',
 'ford gran torino',
 'dodge coronet custom',
 'mercury marquis brougham',
 'chevrolet caprice classic',
 'ford ltd',
 'plymouth fury gran sedan',
 'chrysler new yorker brougham',
 'buick electra 225 custom',
 'amc ambassador brougham',
 'chevrolet impala',
 'ford country',
 'plymouth custom suburb',
 'oldsmobile vista cruiser',
 'chevrolet monte carlo s',
 'pontiac grand prix',
 'dodge dart custom',
 'oldsmobile omega',
 'ford gran torino',
 'buick century luxus (sw)',
 'dodge coronet custom (sw)',
 'ford gran torino (sw)',
 'amc matador (sw)',
 'pontiac catalina',
 'chevrolet bel air',
 'plymouth grand fury',
 'ford ltd',
 'chevrolet monza 2+2',
 'ford mustang ii',
 'chevrolet chevelle malibu classic',
 'dodge coronet brougham',
 'amc matador',
 'ford gran torino',
 'plymouth volare premier v8',
 'cadillac seville',
 'chevy c10',
 'ford f108',
 'dodge d100',
 'chevrolet caprice classic',
 'oldsmobile cutlass supreme',
 'dodge monaco brougham',
 'mercury cougar brougham',
 'pontiac grand prix lj',
 'chevrolet monte carlo landau',
 'chrysler cordoba',
 'ford thunderbird',
 'oldsmobile cutlass salon brougham',
 'dodge diplomat',
 'mercury monarch ghia',
 'chevrolet monte carlo landau',
 'ford futura',
 'dodge magnum xe',
 'chevrolet caprice classic',
 'ford ltd landau',
 'mercury grand marquis',
 'dodge st. regis',
 'buick estate wagon (sw)',
 'ford country squire (sw)',
 'chevrolet malibu classic (sw)',
 'chrysler lebaron town @ country (sw)',
 'cadillac eldorado',
 'oldsmobile cutlass salon brougham',
 'oldsmobile cutlass ls']

# 3. Statistical Analysis
 Compute the 25th,50th,and 75th percentiles of the weight column using NumPy

In [41]:
w8=np.array(df1["weight"])

In [43]:
w8

array([3504, 3693, 3436, 3433, 3449, 4341, 4354, 4312, 4425, 3850, 3563,
       3609, 3761, 3086, 2372, 2833, 2774, 2587, 2130, 1835, 2672, 2430,
       2375, 2234, 2648, 4615, 4376, 4382, 4732, 2130, 2264, 2228, 2046,
       2634, 3439, 3329, 3302, 3288, 4209, 4464, 4154, 4096, 4955, 4746,
       5140, 2962, 2408, 3282, 3139, 2220, 2123, 2074, 2065, 1773, 1613,
       1834, 1955, 2278, 2126, 2254, 2408, 2226, 4274, 4385, 4135, 4129,
       3672, 4633, 4502, 4456, 4422, 2330, 3892, 4098, 4294, 4077, 2933,
       2511, 2979, 2189, 2395, 2288, 2506, 2164, 2100, 4100, 3672, 3988,
       4042, 3777, 4952, 4464, 4363, 4237, 4735, 4951, 3821, 3121, 3278,
       2945, 3021, 2904, 1950, 4997, 4906, 4654, 4499, 2789, 2279, 2401,
       2379, 2124, 2310, 2472, 2265, 4082, 4278, 1867, 2158, 2582, 2868,
       3399, 2660, 2807, 3664, 3102, 2875, 2901, 3336, 1950, 2451, 1836,
       2542, 3781, 3632, 3613, 4141, 4699, 4457, 4638, 4257, 2219, 1963,
       2300, 1649, 2003, 2125, 2108, 2246, 2489, 2391, 2000, 3264, 3459,
       3432, 3158, 4668, 4440, 4498, 4657, 3907, 3897, 3730, 3785, 3039,
       3221, 3169, 2171, 2639, 2914, 2592, 2702, 2223, 2545, 2984, 1937,
       3211, 2694, 2957, 2945, 2671, 1795, 2464, 2220, 2572, 2255, 2202,
       4215, 4190, 3962, 4215, 3233, 3353, 3012, 3085, 2035, 2164, 1937,
       1795, 3651, 3574, 3645, 3193, 1825, 1990, 2155, 2565, 3150, 3940,
       3270, 2930, 3820, 4380, 4055, 3870, 3755, 2045, 2155, 1825, 2300,
       1945, 3880, 4060, 4140, 4295, 3520, 3425, 3630, 3525, 4220, 4165,
       4325, 4335, 1940, 2740, 2265, 2755, 2051, 2075, 1985, 2190, 2815,
       2600, 2720, 1985, 1800, 1985, 2070, 1800, 3365, 3735, 3570, 3535,
       3155, 2965, 2720, 3430, 3210, 3380, 3070, 3620, 3410, 3425, 3445,
       3205, 4080, 2155, 2560, 2300, 2230, 2515, 2745, 2855, 2405, 2830,
       3140, 2795, 3410, 1990, 2135, 3245, 2990, 2890, 3265, 3360, 3840,
       3725, 3955, 3830, 4360, 4054, 3605, 3940, 1925, 1975, 1915, 2670,
       3530, 3900, 3190, 3420, 2200, 2150, 2020, 2130, 2670, 2595, 2700,
       2556, 2144, 1968, 2120, 2019, 2678, 2870, 3003, 3381, 2188, 2711,
       2542, 2434, 2265, 2110, 2800, 2110, 2085, 2335, 2950, 3250, 1850,
       1835, 2145, 1845, 2910, 2420, 2500, 2905, 2290, 2490, 2635, 2620,
       2725, 2385, 1755, 1875, 1760, 2065, 1975, 2050, 1985, 2215, 2045,
       2380, 2190, 2320, 2210, 2350, 2615, 2635, 3230, 3160, 2900, 2930,
       3415, 3725, 3060, 3465, 2605, 2640, 2395, 2575, 2525, 2735, 2865,
       3035, 1980, 2025, 1970, 2125, 2125, 2160, 2205, 2245, 1965, 1965,
       1995, 2945, 3015, 2585, 2835, 2665, 2370, 2950, 2790, 2130, 2295,
       2625, 2720], dtype=int64)

In [45]:
print("25th percentile:",np.percentile(w8,25))
print("25th percentile:",np.percentile(w8,50))
print("25th percentile:",np.percentile(w8,75))

25th percentile: 2223.75
25th percentile: 2803.5
25th percentile: 3608.0

 ## 4. Array Manipulation
 Convert the acceleration column into a NumPy array and normalize its values
 (scale between 0 and 1).

In [48]:
acc=np.array(df1["acceleration"])

In [50]:
acc

array([12. , 11.5, 11. , 12. , 10.5, 10. ,  9. ,  8.5, 10. ,  8.5, 10. ,
        8. ,  9.5, 10. , 15. , 15.5, 15.5, 16. , 14.5, 20.5, 17.5, 14.5,
       17.5, 12.5, 15. , 14. , 15. , 13.5, 18.5, 14.5, 15.5, 14. , 19. ,
       13. , 15.5, 15.5, 15.5, 15.5, 12. , 11.5, 13.5, 13. , 11.5, 12. ,
       12. , 13.5, 19. , 15. , 14.5, 14. , 14. , 19.5, 14.5, 19. , 18. ,
       19. , 20.5, 15.5, 17. , 23.5, 19.5, 16.5, 12. , 12. , 13.5, 13. ,
       11.5, 11. , 13.5, 13.5, 12.5, 13.5, 12.5, 14. , 16. , 14. , 14.5,
       18. , 19.5, 18. , 16. , 17. , 14.5, 15. , 16.5, 13. , 11.5, 13. ,
       14.5, 12.5, 11.5, 12. , 13. , 14.5, 11. , 11. , 11. , 16.5, 18. ,
       16. , 16.5, 16. , 21. , 14. , 12.5, 13. , 12.5, 15. , 19. , 19.5,
       16.5, 13.5, 18.5, 14. , 15.5, 13. ,  9.5, 19.5, 15.5, 14. , 15.5,
       11. , 14. , 13.5, 11. , 16.5, 17. , 16. , 17. , 19. , 16.5, 21. ,
       17. , 17. , 18. , 16.5, 14. , 14.5, 13.5, 16. , 15.5, 16.5, 15.5,
       14.5, 16.5, 19. , 14.5, 15.5, 14. , 15. , 15.5, 16. , 16. , 16. ,
       21. , 19.5, 11.5, 14. , 14.5, 13.5, 21. , 18.5, 19. , 19. , 15. ,
       13.5, 12. , 16. , 17. , 16. , 18.5, 13.5, 16.5, 17. , 14.5, 14. ,
       17. , 15. , 17. , 14.5, 13.5, 17.5, 15.5, 16.9, 14.9, 17.7, 15.3,
       13. , 13. , 13.9, 12.8, 15.4, 14.5, 17.6, 17.6, 22.2, 22.1, 14.2,
       17.4, 17.7, 21. , 16.2, 17.8, 12.2, 17. , 16.4, 13.6, 15.7, 13.2,
       21.9, 15.5, 16.7, 12.1, 12. , 15. , 14. , 18.5, 14.8, 18.6, 15.5,
       16.8, 12.5, 19. , 13.7, 14.9, 16.4, 16.9, 17.7, 19. , 11.1, 11.4,
       12.2, 14.5, 14.5, 16. , 18.2, 15.8, 17. , 15.9, 16.4, 14.1, 14.5,
       12.8, 13.5, 21.5, 14.4, 19.4, 18.6, 16.4, 15.5, 13.2, 12.8, 19.2,
       18.2, 15.8, 15.4, 17.2, 17.2, 15.8, 16.7, 18.7, 15.1, 13.2, 13.4,
       11.2, 13.7, 16.5, 14.2, 14.7, 14.5, 14.8, 16.7, 17.6, 14.9, 15.9,
       13.6, 15.7, 15.8, 14.9, 16.6, 15.4, 18.2, 17.3, 18.2, 16.6, 15.4,
       13.4, 13.2, 15.2, 14.9, 14.3, 15. , 13. , 14. , 15.2, 14.4, 15. ,
       20.1, 17.4, 24.8, 22.2, 13.2, 14.9, 19.2, 14.7, 16. , 11.3, 12.9,
       13.2, 14.7, 18.8, 15.5, 16.4, 16.5, 18.1, 20.1, 18.7, 15.8, 15.5,
       17.5, 15. , 15.2, 17.9, 14.4, 19.2, 21.7, 23.7, 19.9, 21.8, 13.8,
       17.3, 18. , 15.3, 11.4, 12.5, 15.1, 14.3, 17. , 15.7, 16.4, 14.4,
       12.6, 12.9, 16.9, 16.4, 16.1, 17.8, 19.4, 17.3, 16. , 14.9, 16.2,
       20.7, 14.2, 15.8, 14.4, 16.8, 14.8, 18.3, 20.4, 19.6, 12.6, 13.8,
       15.8, 19. , 17.1, 16.6, 19.6, 18.6, 18. , 16.2, 16. , 18. , 16.4,
       20.5, 15.3, 18.2, 17.6, 14.7, 17.3, 14.5, 14.5, 16.9, 15. , 15.7,
       16.2, 16.4, 17. , 14.5, 14.7, 13.9, 13. , 17.3, 15.6, 24.6, 11.6,
       18.6, 19.4])

In [52]:
norm=(acc-np.min(acc))/((np.max(acc))-(np.min(acc)))   # (acc-np.min(acc))/((np.max(acc))-(np.min(acc)))

In [54]:
norm

array([0.23809524, 0.20833333, 0.17857143, 0.23809524, 0.14880952,
       0.11904762, 0.05952381, 0.0297619 , 0.11904762, 0.0297619 ,
       0.11904762, 0.        , 0.08928571, 0.11904762, 0.41666667,
       0.44642857, 0.44642857, 0.47619048, 0.38690476, 0.74404762,
       0.56547619, 0.38690476, 0.56547619, 0.26785714, 0.41666667,
       0.35714286, 0.41666667, 0.32738095, 0.625     , 0.38690476,
       0.44642857, 0.35714286, 0.6547619 , 0.29761905, 0.44642857,
       0.44642857, 0.44642857, 0.44642857, 0.23809524, 0.20833333,
       0.32738095, 0.29761905, 0.20833333, 0.23809524, 0.23809524,
       0.32738095, 0.6547619 , 0.41666667, 0.38690476, 0.35714286,
       0.35714286, 0.68452381, 0.38690476, 0.6547619 , 0.5952381 ,
       0.6547619 , 0.74404762, 0.44642857, 0.53571429, 0.92261905,
       0.68452381, 0.50595238, 0.23809524, 0.23809524, 0.32738095,
       0.29761905, 0.20833333, 0.17857143, 0.32738095, 0.32738095,
       0.26785714, 0.32738095, 0.26785714, 0.35714286, 0.47619048,
       0.35714286, 0.38690476, 0.5952381 , 0.68452381, 0.5952381 ,
       0.47619048, 0.53571429, 0.38690476, 0.41666667, 0.50595238,
       0.29761905, 0.20833333, 0.29761905, 0.38690476, 0.26785714,
       0.20833333, 0.23809524, 0.29761905, 0.38690476, 0.17857143,
       0.17857143, 0.17857143, 0.50595238, 0.5952381 , 0.47619048,
       0.50595238, 0.47619048, 0.77380952, 0.35714286, 0.26785714,
       0.29761905, 0.26785714, 0.41666667, 0.6547619 , 0.68452381,
       0.50595238, 0.32738095, 0.625     , 0.35714286, 0.44642857,
       0.29761905, 0.08928571, 0.68452381, 0.44642857, 0.35714286,
       0.44642857, 0.17857143, 0.35714286, 0.32738095, 0.17857143,
       0.50595238, 0.53571429, 0.47619048, 0.53571429, 0.6547619 ,
       0.50595238, 0.77380952, 0.53571429, 0.53571429, 0.5952381 ,
       0.50595238, 0.35714286, 0.38690476, 0.32738095, 0.47619048,
       0.44642857, 0.50595238, 0.44642857, 0.38690476, 0.50595238,
       0.6547619 , 0.38690476, 0.44642857, 0.35714286, 0.41666667,
       0.44642857, 0.47619048, 0.47619048, 0.47619048, 0.77380952,
       0.68452381, 0.20833333, 0.35714286, 0.38690476, 0.32738095,
       0.77380952, 0.625     , 0.6547619 , 0.6547619 , 0.41666667,
       0.32738095, 0.23809524, 0.47619048, 0.53571429, 0.47619048,
       0.625     , 0.32738095, 0.50595238, 0.53571429, 0.38690476,
       0.35714286, 0.53571429, 0.41666667, 0.53571429, 0.38690476,
       0.32738095, 0.56547619, 0.44642857, 0.5297619 , 0.41071429,
       0.57738095, 0.43452381, 0.29761905, 0.29761905, 0.35119048,
       0.28571429, 0.44047619, 0.38690476, 0.57142857, 0.57142857,
       0.8452381 , 0.83928571, 0.36904762, 0.55952381, 0.57738095,
       0.77380952, 0.48809524, 0.58333333, 0.25      , 0.53571429,
       0.5       , 0.33333333, 0.45833333, 0.30952381, 0.82738095,
       0.44642857, 0.51785714, 0.24404762, 0.23809524, 0.41666667,
       0.35714286, 0.625     , 0.4047619 , 0.63095238, 0.44642857,
       0.52380952, 0.26785714, 0.6547619 , 0.33928571, 0.41071429,
       0.5       , 0.5297619 , 0.57738095, 0.6547619 , 0.18452381,
       0.20238095, 0.25      , 0.38690476, 0.38690476, 0.47619048,
       0.60714286, 0.46428571, 0.53571429, 0.4702381 , 0.5       ,
       0.36309524, 0.38690476, 0.28571429, 0.32738095, 0.80357143,
       0.38095238, 0.67857143, 0.63095238, 0.5       , 0.44642857,
       0.30952381, 0.28571429, 0.66666667, 0.60714286, 0.46428571,
       0.44047619, 0.54761905, 0.54761905, 0.46428571, 0.51785714,
       0.63690476, 0.42261905, 0.30952381, 0.32142857, 0.19047619,
       0.33928571, 0.50595238, 0.36904762, 0.39880952, 0.38690476,
       0.4047619 , 0.51785714, 0.57142857, 0.41071429, 0.4702381 ,
       0.33333333, 0.45833333, 0.46428571, 0.41071429, 0.51190476,
       0.44047619, 0.60714286, 0.55357143, 0.60714286, 0.51190476,
       0.44047619, 0.32142857, 0.30952381, 0.42857143, 0.41071429,
       0.375     , 0.41666667, 0.29761905, 0.35714286, 0.42857143,
       0.38095238, 0.41666667, 0.7202381 , 0.55952381, 1.        ,
       0.8452381 , 0.30952381, 0.41071429, 0.66666667, 0.39880952,
       0.47619048, 0.19642857, 0.29166667, 0.30952381, 0.39880952,
       0.64285714, 0.44642857, 0.5       , 0.50595238, 0.60119048,
       0.7202381 , 0.63690476, 0.46428571, 0.44642857, 0.56547619,
       0.41666667, 0.42857143, 0.58928571, 0.38095238, 0.66666667,
       0.81547619, 0.93452381, 0.70833333, 0.82142857, 0.3452381 ,
       0.55357143, 0.5952381 , 0.43452381, 0.20238095, 0.26785714,
       0.42261905, 0.375     , 0.53571429, 0.45833333, 0.5       ,
       0.38095238, 0.27380952, 0.29166667, 0.5297619 , 0.5       ,
       0.48214286, 0.58333333, 0.67857143, 0.55357143, 0.47619048,
       0.41071429, 0.48809524, 0.75595238, 0.36904762, 0.46428571,
       0.38095238, 0.52380952, 0.4047619 , 0.61309524, 0.73809524,
       0.69047619, 0.27380952, 0.3452381 , 0.46428571, 0.6547619 ,
       0.54166667, 0.51190476, 0.69047619, 0.63095238, 0.5952381 ,
       0.48809524, 0.47619048, 0.5952381 , 0.5       , 0.74404762,
       0.43452381, 0.60714286, 0.57142857, 0.39880952, 0.55357143,
       0.38690476, 0.38690476, 0.5297619 , 0.41666667, 0.45833333,
       0.48809524, 0.5       , 0.53571429, 0.38690476, 0.39880952,
       0.35119048, 0.29761905, 0.55357143, 0.45238095, 0.98809524,
       0.21428571, 0.63095238, 0.67857143])

## 5. Broadcasting
 Increase all horsepower values by 10% and store the updated values in a new 
 NumPyarray. Handle missing data(ifany) by replacing it with the mean of the
 column be fore applying the increase.

In [57]:
hp=np.array(df1["horsepower"])

In [59]:
hp

array(['130', '165', '150', '150', '140', '198', '220', '215', '225',
       '190', '170', '160', '150', '225', '95', '95', '97', '85', '88',
       '46', '87', '90', '95', '113', '90', '215', '200', '210', '193',
       '88', '90', '95', '?', '100', '105', '100', '88', '100', '165',
       '175', '153', '150', '180', '170', '175', '110', '72', '100', '88',
       '86', '90', '70', '76', '65', '69', '60', '70', '95', '80', '54',
       '90', '86', '165', '175', '150', '153', '150', '208', '155', '160',
       '190', '97', '150', '130', '140', '150', '112', '76', '87', '69',
       '86', '92', '97', '80', '88', '175', '150', '145', '137', '150',
       '198', '150', '158', '150', '215', '225', '175', '105', '100',
       '100', '88', '95', '46', '150', '167', '170', '180', '100', '88',
       '72', '94', '90', '85', '107', '90', '145', '230', '49', '75',
       '91', '112', '150', '110', '122', '180', '95', '?', '100', '100',
       '67', '80', '65', '75', '100', '110', '105', '140', '150', '150',
       '140', '150', '83', '67', '78', '52', '61', '75', '75', '75', '97',
       '93', '67', '95', '105', '72', '72', '170', '145', '150', '148',
       '110', '105', '110', '95', '110', '110', '129', '75', '83', '100',
       '78', '96', '71', '97', '97', '70', '90', '95', '88', '98', '115',
       '53', '86', '81', '92', '79', '83', '140', '150', '120', '152',
       '100', '105', '81', '90', '52', '60', '70', '53', '100', '78',
       '110', '95', '71', '70', '75', '72', '102', '150', '88', '108',
       '120', '180', '145', '130', '150', '68', '80', '58', '96', '70',
       '145', '110', '145', '130', '110', '105', '100', '98', '180',
       '170', '190', '149', '78', '88', '75', '89', '63', '83', '67',
       '78', '97', '110', '110', '48', '66', '52', '70', '60', '110',
       '140', '139', '105', '95', '85', '88', '100', '90', '105', '85',
       '110', '120', '145', '165', '139', '140', '68', '95', '97', '75',
       '95', '105', '85', '97', '103', '125', '115', '133', '71', '68',
       '115', '85', '88', '90', '110', '130', '129', '138', '135', '155',
       '142', '125', '150', '71', '65', '80', '80', '77', '125', '71',
       '90', '70', '70', '65', '69', '90', '115', '115', '90', '76', '60',
       '70', '65', '90', '88', '90', '90', '78', '90', '75', '92', '75',
       '65', '105', '65', '48', '48', '67', '67', '67', '?', '67', '62',
       '132', '100', '88', '?', '72', '84', '84', '92', '110', '84', '58',
       '64', '60', '67', '65', '62', '68', '63', '65', '65', '74', '?',
       '75', '75', '100', '74', '80', '76', '116', '120', '110', '105',
       '88', '85', '88', '88', '88', '85', '84', '90', '92', '?', '74',
       '68', '68', '63', '70', '88', '75', '70', '67', '67', '67', '110',
       '85', '92', '112', '96', '84', '90', '86', '52', '84', '79', '82'],
      dtype=object)

In [61]:
df1.isnull()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
393,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False

In [63]:
df1.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [65]:
hp_2 = [x for x in hp if x.isdigit()]

In [67]:
df1['horsepower']=df1["horsepower"].replace('?',np.nan)

In [69]:
np.array(df1["horsepower"])

array(['130', '165', '150', '150', '140', '198', '220', '215', '225',
       '190', '170', '160', '150', '225', '95', '95', '97', '85', '88',
       '46', '87', '90', '95', '113', '90', '215', '200', '210', '193',
       '88', '90', '95', nan, '100', '105', '100', '88', '100', '165',
       '175', '153', '150', '180', '170', '175', '110', '72', '100', '88',
       '86', '90', '70', '76', '65', '69', '60', '70', '95', '80', '54',
       '90', '86', '165', '175', '150', '153', '150', '208', '155', '160',
       '190', '97', '150', '130', '140', '150', '112', '76', '87', '69',
       '86', '92', '97', '80', '88', '175', '150', '145', '137', '150',
       '198', '150', '158', '150', '215', '225', '175', '105', '100',
       '100', '88', '95', '46', '150', '167', '170', '180', '100', '88',
       '72', '94', '90', '85', '107', '90', '145', '230', '49', '75',
       '91', '112', '150', '110', '122', '180', '95', nan, '100', '100',
       '67', '80', '65', '75', '100', '110', '105', '140', '150', '150',
       '140', '150', '83', '67', '78', '52', '61', '75', '75', '75', '97',
       '93', '67', '95', '105', '72', '72', '170', '145', '150', '148',
       '110', '105', '110', '95', '110', '110', '129', '75', '83', '100',
       '78', '96', '71', '97', '97', '70', '90', '95', '88', '98', '115',
       '53', '86', '81', '92', '79', '83', '140', '150', '120', '152',
       '100', '105', '81', '90', '52', '60', '70', '53', '100', '78',
       '110', '95', '71', '70', '75', '72', '102', '150', '88', '108',
       '120', '180', '145', '130', '150', '68', '80', '58', '96', '70',
       '145', '110', '145', '130', '110', '105', '100', '98', '180',
       '170', '190', '149', '78', '88', '75', '89', '63', '83', '67',
       '78', '97', '110', '110', '48', '66', '52', '70', '60', '110',
       '140', '139', '105', '95', '85', '88', '100', '90', '105', '85',
       '110', '120', '145', '165', '139', '140', '68', '95', '97', '75',
       '95', '105', '85', '97', '103', '125', '115', '133', '71', '68',
       '115', '85', '88', '90', '110', '130', '129', '138', '135', '155',
       '142', '125', '150', '71', '65', '80', '80', '77', '125', '71',
       '90', '70', '70', '65', '69', '90', '115', '115', '90', '76', '60',
       '70', '65', '90', '88', '90', '90', '78', '90', '75', '92', '75',
       '65', '105', '65', '48', '48', '67', '67', '67', nan, '67', '62',
       '132', '100', '88', nan, '72', '84', '84', '92', '110', '84', '58',
       '64', '60', '67', '65', '62', '68', '63', '65', '65', '74', nan,
       '75', '75', '100', '74', '80', '76', '116', '120', '110', '105',
       '88', '85', '88', '88', '88', '85', '84', '90', '92', nan, '74',
       '68', '68', '63', '70', '88', '75', '70', '67', '67', '67', '110',
       '85', '92', '112', '96', '84', '90', '86', '52', '84', '79', '82'],
      dtype=object)

In [71]:
df1['horsepower'] = pd.to_numeric(df1['horsepower'], errors='coerce')

In [73]:
np.array(df1["horsepower"])

array([130., 165., 150., 150., 140., 198., 220., 215., 225., 190., 170.,
       160., 150., 225.,  95.,  95.,  97.,  85.,  88.,  46.,  87.,  90.,
        95., 113.,  90., 215., 200., 210., 193.,  88.,  90.,  95.,  nan,
       100., 105., 100.,  88., 100., 165., 175., 153., 150., 180., 170.,
       175., 110.,  72., 100.,  88.,  86.,  90.,  70.,  76.,  65.,  69.,
        60.,  70.,  95.,  80.,  54.,  90.,  86., 165., 175., 150., 153.,
       150., 208., 155., 160., 190.,  97., 150., 130., 140., 150., 112.,
        76.,  87.,  69.,  86.,  92.,  97.,  80.,  88., 175., 150., 145.,
       137., 150., 198., 150., 158., 150., 215., 225., 175., 105., 100.,
       100.,  88.,  95.,  46., 150., 167., 170., 180., 100.,  88.,  72.,
        94.,  90.,  85., 107.,  90., 145., 230.,  49.,  75.,  91., 112.,
       150., 110., 122., 180.,  95.,  nan, 100., 100.,  67.,  80.,  65.,
        75., 100., 110., 105., 140., 150., 150., 140., 150.,  83.,  67.,
        78.,  52.,  61.,  75.,  75.,  75.,  97.,  93.,  67.,  95., 105.,
        72.,  72., 170., 145., 150., 148., 110., 105., 110.,  95., 110.,
       110., 129.,  75.,  83., 100.,  78.,  96.,  71.,  97.,  97.,  70.,
        90.,  95.,  88.,  98., 115.,  53.,  86.,  81.,  92.,  79.,  83.,
       140., 150., 120., 152., 100., 105.,  81.,  90.,  52.,  60.,  70.,
        53., 100.,  78., 110.,  95.,  71.,  70.,  75.,  72., 102., 150.,
        88., 108., 120., 180., 145., 130., 150.,  68.,  80.,  58.,  96.,
        70., 145., 110., 145., 130., 110., 105., 100.,  98., 180., 170.,
       190., 149.,  78.,  88.,  75.,  89.,  63.,  83.,  67.,  78.,  97.,
       110., 110.,  48.,  66.,  52.,  70.,  60., 110., 140., 139., 105.,
        95.,  85.,  88., 100.,  90., 105.,  85., 110., 120., 145., 165.,
       139., 140.,  68.,  95.,  97.,  75.,  95., 105.,  85.,  97., 103.,
       125., 115., 133.,  71.,  68., 115.,  85.,  88.,  90., 110., 130.,
       129., 138., 135., 155., 142., 125., 150.,  71.,  65.,  80.,  80.,
        77., 125.,  71.,  90.,  70.,  70.,  65.,  69.,  90., 115., 115.,
        90.,  76.,  60.,  70.,  65.,  90.,  88.,  90.,  90.,  78.,  90.,
        75.,  92.,  75.,  65., 105.,  65.,  48.,  48.,  67.,  67.,  67.,
        nan,  67.,  62., 132., 100.,  88.,  nan,  72.,  84.,  84.,  92.,
       110.,  84.,  58.,  64.,  60.,  67.,  65.,  62.,  68.,  63.,  65.,
        65.,  74.,  nan,  75.,  75., 100.,  74.,  80.,  76., 116., 120.,
       110., 105.,  88.,  85.,  88.,  88.,  88.,  85.,  84.,  90.,  92.,
        nan,  74.,  68.,  68.,  63.,  70.,  88.,  75.,  70.,  67.,  67.,
        67., 110.,  85.,  92., 112.,  96.,  84.,  90.,  86.,  52.,  84.,
        79.,  82.])

In [75]:
mean_hp = df1['horsepower'].mean()

In [77]:
mean_hp

104.46938775510205

In [203]:
df1['horsepower'].fillna(mean_hp, inplace=True)

In [206]:
np.array(df1["horsepower"])

array(['130', '165', '150', '150', '140', '198', '220', '215', '225',
       '190', '170', '160', '150', '225', '95', '95', '97', '85', '88',
       '46', '87', '90', '95', '113', '90', '215', '200', '210', '193',
       '88', '90', '95', '?', '100', '105', '100', '88', '100', '165',
       '175', '153', '150', '180', '170', '175', '110', '72', '100', '88',
       '86', '90', '70', '76', '65', '69', '60', '70', '95', '80', '54',
       '90', '86', '165', '175', '150', '153', '150', '208', '155', '160',
       '190', '97', '150', '130', '140', '150', '112', '76', '87', '69',
       '86', '92', '97', '80', '88', '175', '150', '145', '137', '150',
       '198', '150', '158', '150', '215', '225', '175', '105', '100',
       '100', '88', '95', '46', '150', '167', '170', '180', '100', '88',
       '72', '94', '90', '85', '107', '90', '145', '230', '49', '75',
       '91', '112', '150', '110', '122', '180', '95', '?', '100', '100',
       '67', '80', '65', '75', '100', '110', '105', '140', '150', '150',
       '140', '150', '83', '67', '78', '52', '61', '75', '75', '75', '97',
       '93', '67', '95', '105', '72', '72', '170', '145', '150', '148',
       '110', '105', '110', '95', '110', '110', '129', '75', '83', '100',
       '78', '96', '71', '97', '97', '70', '90', '95', '88', '98', '115',
       '53', '86', '81', '92', '79', '83', '140', '150', '120', '152',
       '100', '105', '81', '90', '52', '60', '70', '53', '100', '78',
       '110', '95', '71', '70', '75', '72', '102', '150', '88', '108',
       '120', '180', '145', '130', '150', '68', '80', '58', '96', '70',
       '145', '110', '145', '130', '110', '105', '100', '98', '180',
       '170', '190', '149', '78', '88', '75', '89', '63', '83', '67',
       '78', '97', '110', '110', '48', '66', '52', '70', '60', '110',
       '140', '139', '105', '95', '85', '88', '100', '90', '105', '85',
       '110', '120', '145', '165', '139', '140', '68', '95', '97', '75',
       '95', '105', '85', '97', '103', '125', '115', '133', '71', '68',
       '115', '85', '88', '90', '110', '130', '129', '138', '135', '155',
       '142', '125', '150', '71', '65', '80', '80', '77', '125', '71',
       '90', '70', '70', '65', '69', '90', '115', '115', '90', '76', '60',
       '70', '65', '90', '88', '90', '90', '78', '90', '75', '92', '75',
       '65', '105', '65', '48', '48', '67', '67', '67', '?', '67', '62',
       '132', '100', '88', '?', '72', '84', '84', '92', '110', '84', '58',
       '64', '60', '67', '65', '62', '68', '63', '65', '65', '74', '?',
       '75', '75', '100', '74', '80', '76', '116', '120', '110', '105',
       '88', '85', '88', '88', '88', '85', '84', '90', '92', '?', '74',
       '68', '68', '63', '70', '88', '75', '70', '67', '67', '67', '110',
       '85', '92', '112', '96', '84', '90', '86', '52', '84', '79', '82'],
      dtype=object)

In [208]:
hp_2= np.array(hp_2, dtype=float)

In [86]:
hp_3=hp_2*(1.10)

In [88]:
print(hp_3)

[143.  181.5 165.  165.  154.  217.8 242.  236.5 247.5 209.  187.  176.
 165.  247.5 104.5 104.5 106.7  93.5  96.8  50.6  95.7  99.  104.5 124.3
  99.  236.5 220.  231.  212.3  96.8  99.  104.5 110.  115.5 110.   96.8
 110.  181.5 192.5 168.3 165.  198.  187.  192.5 121.   79.2 110.   96.8
  94.6  99.   77.   83.6  71.5  75.9  66.   77.  104.5  88.   59.4  99.
  94.6 181.5 192.5 165.  168.3 165.  228.8 170.5 176.  209.  106.7 165.
 143.  154.  165.  123.2  83.6  95.7  75.9  94.6 101.2 106.7  88.   96.8
 192.5 165.  159.5 150.7 165.  217.8 165.  173.8 165.  236.5 247.5 192.5
 115.5 110.  110.   96.8 104.5  50.6 165.  183.7 187.  198.  110.   96.8
  79.2 103.4  99.   93.5 117.7  99.  159.5 253.   53.9  82.5 100.1 123.2
 165.  121.  134.2 198.  104.5 110.  110.   73.7  88.   71.5  82.5 110.
 121.  115.5 154.  165.  165.  154.  165.   91.3  73.7  85.8  57.2  67.1
  82.5  82.5  82.5 106.7 102.3  73.7 104.5 115.5  79.2  79.2 187.  159.5
 165.  162.8 121.  115.5 121.  104.5 121.  121.  141.9  82.5  91.3 110.
  85.8 105.6  78.1 106.7 106.7  77.   99.  104.5  96.8 107.8 126.5  58.3
  94.6  89.1 101.2  86.9  91.3 154.  165.  132.  167.2 110.  115.5  89.1
  99.   57.2  66.   77.   58.3 110.   85.8 121.  104.5  78.1  77.   82.5
  79.2 112.2 165.   96.8 118.8 132.  198.  159.5 143.  165.   74.8  88.
  63.8 105.6  77.  159.5 121.  159.5 143.  121.  115.5 110.  107.8 198.
 187.  209.  163.9  85.8  96.8  82.5  97.9  69.3  91.3  73.7  85.8 106.7
 121.  121.   52.8  72.6  57.2  77.   66.  121.  154.  152.9 115.5 104.5
  93.5  96.8 110.   99.  115.5  93.5 121.  132.  159.5 181.5 152.9 154.
  74.8 104.5 106.7  82.5 104.5 115.5  93.5 106.7 113.3 137.5 126.5 146.3
  78.1  74.8 126.5  93.5  96.8  99.  121.  143.  141.9 151.8 148.5 170.5
 156.2 137.5 165.   78.1  71.5  88.   88.   84.7 137.5  78.1  99.   77.
  77.   71.5  75.9  99.  126.5 126.5  99.   83.6  66.   77.   71.5  99.
  96.8  99.   99.   85.8  99.   82.5 101.2  82.5  71.5 115.5  71.5  52.8
  52.8  73.7  73.7  73.7  73.7  68.2 145.2 110.   96.8  79.2  92.4  92.4
 101.2 121.   92.4  63.8  70.4  66.   73.7  71.5  68.2  74.8  69.3  71.5
  71.5  81.4  82.5  82.5 110.   81.4  88.   83.6 127.6 132.  121.  115.5
  96.8  93.5  96.8  96.8  96.8  93.5  92.4  99.  101.2  81.4  74.8  74.8
  69.3  77.   96.8  82.5  77.   73.7  73.7  73.7 121.   93.5 101.2 123.2
 105.6  92.4  99.   94.6  57.2  92.4  86.9  90.2]

## 6. BooleanIndexing
 Find the average displacement of cars with an origin of 2 (Europe) using NumPy
 indexing

In [91]:
disp=np.array(df1.origin==2)

In [93]:
df1[disp]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
19,26.0,4,97.0,46.000000,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.000000,2672,17.5,70,2,peugeot 504
21,24.0,4,107.0,90.000000,2430,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95.000000,2375,17.5,70,2,saab 99e
23,26.0,4,121.0,113.000000,2234,12.5,70,2,bmw 2002
...,...,...,...,...,...,...,...,...,...
354,34.5,4,100.0,104.469388,2320,15.8,81,2,renault 18i
359,28.1,4,141.0,80.000000,3230,20.4,81,2,peugeot 505s turbo diesel
360,30.7,6,145.0,76.000000,3160,19.6,81,2,volvo diesel
375,36.0,4,105.0,74.000000,1980,15.3,82,2,volkswagen rabbit l
394,44.0,4,97.0,52.000000,2130,24.6,82,2,vw pickup

In [95]:
np.mean(df1[disp][["displacement"]])

109.14285714285714

 ## 7. MatrixOperations
 Create a 2D NumPy array containing the columns mpg,horsepower,and weight.
 Compute the dot product of this matrix with a given vector[1,0.5,-0.2].

In [98]:
arr2dmn=np.array(df1[["horsepower","mpg","weight"]])

In [100]:
arr2dmn

array([[ 130.,   18., 3504.],
       [ 165.,   15., 3693.],
       [ 150.,   18., 3436.],
       ...,
       [  84.,   32., 2295.],
       [  79.,   28., 2625.],
       [  82.,   31., 2720.]])

In [102]:
arr2dmn.ndim

2

 ## 8. Sorting
 Use NumPy to sort the cars by model_year in descending order and display the first
 five carnames.

In [105]:
a=df1[["model year","car name"]]
b=a[ : :-1]
np.array(b)

array([[82, 'chevy s-10'],
       [82, 'ford ranger'],
       [82, 'dodge rampage'],
       [82, 'vw pickup'],
       [82, 'ford mustang gl'],
       [82, 'chevrolet camaro'],
       [82, 'dodge charger 2.2'],
       [82, 'toyota celica gt'],
       [82, 'ford granada l'],
       [82, 'chrysler lebaron medallion'],
       [82, 'oldsmobile cutlass ciera (diesel)'],
       [82, 'buick century limited'],
       [82, 'datsun 310 gx'],
       [82, 'honda civic (auto)'],
       [82, 'honda civic'],
       [82, 'toyota corolla'],
       [82, 'honda accord'],
       [82, 'nissan stanza xe'],
       [82, 'mercury lynx l'],
       [82, 'plymouth horizon miser'],
       [82, 'mazda glc custom'],
       [82, 'mazda glc custom l'],
       [82, 'volkswagen rabbit l'],
       [82, 'amc concord dl'],
       [82, 'ford fairmont futura'],
       [82, 'pontiac phoenix'],
       [82, 'dodge aries se'],
       [82, 'pontiac j2000 se hatchback'],
       [82, 'chevrolet cavalier 2-door'],
       [82, 'chevrolet cavalier wagon'],
       [82, 'chevrolet cavalier'],
       [81, 'chrysler lebaron salon'],
       [81, 'ford granada gl'],
       [81, 'oldsmobile cutlass ls'],
       [81, 'buick century'],
       [81, 'datsun 810 maxima'],
       [81, 'toyota cressida'],
       [81, 'volvo diesel'],
       [81, 'peugeot 505s turbo diesel'],
       [81, 'mazda 626'],
       [81, 'datsun 200sx'],
       [81, 'toyota corolla'],
       [81, 'honda prelude'],
       [81, 'renault 18i'],
       [81, 'volkswagen jetta'],
       [81, 'ford escort 2h'],
       [81, 'ford escort 4w'],
       [81, 'plymouth horizon 4'],
       [81, 'mazda glc 4'],
       [81, 'toyota tercel'],
       [81, 'datsun 210 mpg'],
       [81, 'subaru'],
       [81, 'honda civic 1300'],
       [81, 'plymouth champ'],
       [81, 'toyota starlet'],
       [81, 'plymouth reliant'],
       [81, 'chevrolet citation'],
       [81, 'dodge aries wagon (sw)'],
       [81, 'buick skylark'],
       [81, 'plymouth reliant'],
       [80, 'honda accord'],
       [80, 'ford mustang cobra'],
       [80, 'triumph tr7 coupe'],
       [80, 'mazda rx-7 gs'],
       [80, 'datsun 280-zx'],
       [80, 'vokswagen rabbit'],
       [80, 'subaru dl'],
       [80, 'renault lecar deluxe'],
       [80, 'honda civic 1500 gl'],
       [80, 'mercedes-benz 240d'],
       [80, 'audi 5000s (diesel)'],
       [80, 'vw dasher (diesel)'],
       [80, 'vw rabbit c (diesel)'],
       [80, 'datsun 210'],
       [80, 'dodge colt'],
       [80, 'mazda glc'],
       [80, 'toyota corolla'],
       [80, 'datsun 510 hatchback'],
       [80, 'mazda 626'],
       [80, 'toyota corona liftback'],
       [80, 'audi 4000'],
       [80, 'dodge aspen'],
       [80, 'amc concord'],
       [80, 'ford fairmont'],
       [80, 'chevrolet citation'],
       [80, 'datsun 310'],
       [80, 'chevrolet chevette'],
       [80, 'toyota corolla tercel'],
       [80, 'vw rabbit'],
       [79, 'pontiac phoenix'],
       [79, 'oldsmobile omega brougham'],
       [79, 'chevrolet citation'],
       [79, 'buick skylark limited'],
       [79, 'fiat strada custom'],
       [79, 'datsun 210'],
       [79, 'plymouth horizon tc3'],
       [79, 'plymouth horizon'],
       [79, 'oldsmobile cutlass salon brougham'],
       [79, 'peugeot 504'],
       [79, 'cadillac eldorado'],
       [79, 'mercedes benz 300d'],
       [79, 'amc spirit dl'],
       [79, 'dodge colt hatchback custom'],
       [79, 'maxda glc deluxe'],
       [79, 'vw rabbit custom'],
       [79, 'chrysler lebaron town @ country (sw)'],
       [79, 'chevrolet malibu classic (sw)'],
       [79, 'ford country squire (sw)'],
       [79, 'buick estate wagon (sw)'],
       [79, 'dodge st. regis'],
       [79, 'mercury grand marquis'],
       [79, 'ford ltd landau'],
       [79, 'chevrolet caprice classic'],
       [79, 'dodge aspen 6'],
       [79, 'amc concord dl 6'],
       [79, 'ford fairmont 4'],
       [79, 'mercury zephyr 6'],
       [79, 'pontiac lemans v6'],
       [78, 'honda accord lx'],
       [78, 'volkswagen scirocco'],
       [78, 'peugeot 604sl'],
       [78, 'saab 99gle'],
       [78, 'volvo 264gl'],
       [78, 'audi 5000'],
       [78, 'datsun 200-sx'],
       [78, 'oldsmobile starfire sx'],
       [78, 'plymouth sapporo'],
       [78, 'toyota celica gt liftback'],
       [78, 'dodge omni'],
       [78, 'datsun 510'],
       [78, 'toyota corona'],
       [78, 'chevrolet chevette'],
       [78, 'dodge magnum xe'],
       [78, 'ford futura'],
       [78, 'buick regal sport coupe (turbo)'],
       [78, 'chevrolet monte carlo landau'],
       [78, 'amc concord d/l'],
       [78, 'dodge aspen'],
       [78, 'mercury zephyr'],
       [78, 'buick century special'],
       [78, 'amc concord'],
       [78, 'plymouth volare'],
       [78, 'ford fairmont (man)'],
       [78, 'ford fairmont (auto)'],
       [78, 'chevrolet malibu'],
       [78, 'pontiac phoenix lj'],
       [78, 'mercury monarch ghia'],
       [78, 'dodge diplomat'],
       [78, 'oldsmobile cutlass salon brougham'],
       [78, 'honda civic cvcc'],
       [78, 'datsun b210 gx'],
       [78, 'mazda glc deluxe'],
       [78, 'ford fiesta'],
       [78, 'volkswagen rabbit custom diesel'],
       [77, 'mazda rx-4'],
       [77, 'bmw 320i'],
       [77, 'datsun 810'],
       [77, 'volkswagen dasher'],
       [77, 'subaru dl'],
       [77, 'dodge colt m/m'],
       [77, 'chevrolet chevette'],
       [77, 'ford mustang ii 2+2'],
       [77, 'toyota corolla liftback'],
       [77, 'pontiac sunbird coupe'],
       [77, 'volkswagen rabbit custom'],
       [77, 'ford thunderbird'],
       [77, 'chrysler cordoba'],
       [77, 'chevrolet monte carlo landau'],
       [77, 'pontiac grand prix lj'],
       [77, 'ford granada'],
       [77, 'plymouth volare custom'],
       [77, 'buick skylark'],
       [77, 'chevrolet concours'],
       [77, 'mercury cougar brougham'],
       [77, 'dodge monaco brougham'],
       [77, 'oldsmobile cutlass supreme'],
       [77, 'chevrolet caprice classic'],
       [77, 'datsun f-10 hatchback'],
       [77, 'plymouth arrow gs'],
       [77, 'renault 5 gtl'],
       [77, 'buick opel isuzu deluxe'],
       [77, 'honda accord cvcc'],
       [76, 'dodge d100'],
       [76, 'ford f108'],
       [76, 'chevy c10'],
       [76, 'cadillac seville'],
       [76, 'mercedes-benz 280s'],
       [76, 'toyota mark ii'],
       [76, 'peugeot 504'],
       [76, 'plymouth volare premier v8'],
       [76, 'volvo 245'],
       [76, 'ford pinto'],
       [76, 'toyota corolla'],
       [76, 'datsun b-210'],
       [76, 'volkswagen rabbit'],
       [76, 'amc pacer d/l'],
       [76, 'pontiac ventura sj'],
       [76, 'ford granada ghia'],
       [76, 'dodge aspen se'],
       [76, 'honda civic'],
       [76, 'vw rabbit'],
       [76, 'chevrolet woody'],
       [76, 'chevrolet chevette'],
       [76, 'amc hornet'],
       [76, 'ford maverick'],
       [76, 'chevrolet nova'],
       [76, 'plymouth valiant'],
       [76, 'ford gran torino'],
       [76, 'amc matador'],
       [76, 'dodge coronet brougham'],
       [76, 'chevrolet chevelle malibu classic'],
       [76, 'renault 12tl'],
       [76, 'dodge colt'],
       [76, 'capri ii'],
       [76, 'opel 1900'],
       [76, 'fiat 131'],
       [75, 'honda civic cvcc'],
       [75, 'saab 99le'],
       [75, 'volvo 244dl'],
       [75, 'peugeot 504'],
       [75, 'audi 100ls'],
       [75, 'amc pacer'],
       [75, 'volkswagen rabbit'],
       [75, 'ford pinto'],
       [75, 'datsun 710'],
       [75, 'volkswagen dasher'],
       [75, 'toyota corona'],
       [75, 'pontiac astro'],
       [75, 'amc gremlin'],
       [75, 'ford pinto'],
       [75, 'toyota corolla'],
       [75, 'ford mustang ii'],
       [75, 'chevrolet monza 2+2'],
       [75, 'buick skyhawk'],
       [75, 'plymouth fury'],
       [75, 'amc matador'],
       [75, 'chevroelt chevelle malibu'],
       [75, 'buick century'],
       [75, 'ford ltd'],
       [75, 'plymouth grand fury'],
       [75, 'chevrolet bel air'],
       [75, 'pontiac catalina'],
       [75, 'ford maverick'],
       [75, 'mercury monarch'],
       [75, 'chevrolet nova'],
       [75, 'plymouth valiant custom'],
       [74, 'fiat x1.9'],
       [74, 'subaru'],
       [74, 'honda civic'],
       [74, 'fiat 124 tc'],
       [74, 'fiat 128'],
       [74, 'dodge colt'],
       [74, 'datsun 710'],
       [74, 'toyota corona'],
       [74, 'opel manta'],
       [74, 'volkswagen dasher'],
       [74, 'audi fox'],
       [74, 'amc matador (sw)'],
       [74, 'ford gran torino (sw)'],
       [74, 'dodge coronet custom (sw)'],
       [74, 'buick century luxus (sw)'],
       [74, 'ford gran torino'],
       [74, 'plymouth satellite sebring'],
       [74, 'amc matador'],
       [74, 'chevrolet chevelle malibu classic'],
       [74, 'chevrolet vega'],
       [74, 'toyota corolla 1200'],
       [74, 'ford pinto'],
       [74, 'datsun b210'],
       [74, 'chevrolet nova'],
       [74, 'amc hornet'],
       [74, 'ford maverick'],
       [74, 'plymouth duster'],
       [73, 'oldsmobile omega'],
       [73, 'toyota mark ii'],
       [73, 'saab 99le'],
       [73, 'dodge dart custom'],
       [73, 'volvo 144ea'],
       [73, 'audi 100ls'],
       [73, 'opel manta'],
       [73, 'fiat 128'],
       [73, 'pontiac grand prix'],
       [73, 'chevrolet monte carlo s'],
       [73, 'fiat 124 sport coupe'],
       [73, 'mercury capri v6'],
       [73, 'ford pinto'],
       [73, 'maxda rx3'],
       [73, 'datsun 610'],
       [73, 'chevrolet vega'],
       [73, 'toyota carina'],
       [73, 'amc gremlin'],
       [73, 'oldsmobile vista cruiser'],
       [73, 'plymouth custom suburb'],
       [73, 'ford country'],
       [73, 'chevrolet impala'],
       [73, 'volkswagen super beetle'],
       [73, 'plymouth duster'],
       [73, 'ford maverick'],
       [73, 'amc hornet'],
       [73, 'chevrolet nova custom'],
       [73, 'plymouth valiant'],
       [73, 'amc ambassador brougham'],
       [73, 'buick electra 225 custom'],
       [73, 'chrysler new yorker brougham'],
       [73, 'plymouth fury gran sedan'],
       [73, 'ford ltd'],
       [73, 'chevrolet caprice classic'],
       [73, 'mercury marquis brougham'],
       [73, 'dodge coronet custom'],
       [73, 'ford gran torino'],
       [73, 'chevrolet malibu'],
       [73, 'amc matador'],
       [73, 'buick century 350'],
       [72, 'toyota corolla 1600 (sw)'],
       [72, 'dodge colt (sw)'],
       [72, 'toyouta corona mark ii (sw)'],
       [72, 'datsun 510 (sw)'],
       [72, 'ford pinto (sw)'],
       [72, 'renault 12 (sw)'],
       [72, 'peugeot 504 (sw)'],
       [72, 'volkswagen 411 (sw)'],
       [72, 'volvo 145e (sw)'],
       [72, 'plymouth satellite custom (sw)'],
       [72, 'ford gran torino (sw)'],
       [72, 'chevrolet chevelle concours (sw)'],
       [72, 'amc matador (sw)'],
       [72, 'mazda rx2 coupe'],
       [72, 'chrysler newport royal'],
       [72, 'oldsmobile delta 88 royale'],
       [72, 'buick lesabre custom'],
       [72, 'mercury marquis'],
       [72, 'amc ambassador sst'],
       [72, 'ford galaxie 500'],
       [72, 'plymouth fury iii'],
       [72, 'pontiac catalina'],
       [72, 'chevrolet impala'],
       [72, 'ford pinto runabout'],
       [72, 'chevrolet vega'],
       [72, 'volkswagen type 3'],
       [72, 'dodge colt hardtop'],
       [72, 'toyota corona hardtop'],
       [71, 'plymouth cricket'],
       [71, 'volkswagen model 111'],
       [71, 'datsun 1200'],
       [71, 'toyota corolla 1200'],
       [71, 'fiat 124b'],
       [71, 'peugeot 304'],
       [71, 'opel 1900'],
       [71, 'mercury capri 2000'],
       [71, 'ford mustang'],
       [71, 'pontiac firebird'],
       [71, 'chevrolet vega (sw)'],
       [71, 'amc hornet sportabout (sw)'],
       [71, 'pontiac safari (sw)'],
       [71, 'ford country squire (sw)'],
       [71, 'dodge monaco (sw)'],
       [71, 'plymouth fury iii'],
       [71, 'ford galaxie 500'],
       [71, 'pontiac catalina brougham'],
       [71, 'chevrolet impala'],
       [71, 'amc matador'],
       [71, 'ford torino 500'],
       [71, 'chevrolet chevelle malibu'],
       [71, 'plymouth satellite custom'],
       [71, 'amc gremlin'],
       [71, 'ford pinto'],
       [71, 'toyota corona'],
       [71, 'chevrolet vega 2300'],
       [71, 'datsun pl510'],
       [70, 'hi 1200d'],
       [70, 'dodge d200'],
       [70, 'chevy c20'],
       [70, 'ford f250'],
       [70, 'amc gremlin'],
       [70, 'bmw 2002'],
       [70, 'saab 99e'],
       [70, 'audi 100 ls'],
       [70, 'peugeot 504'],
       [70, 'volkswagen 1131 deluxe sedan'],
       [70, 'datsun pl510'],
       [70, 'ford maverick'],
       [70, 'amc hornet'],
       [70, 'plymouth duster'],
       [70, 'toyota corona mark ii'],
       [70, 'buick estate wagon (sw)'],
       [70, 'chevrolet monte carlo'],
       [70, "plymouth 'cuda 340"],
       [70, 'dodge challenger se'],
       [70, 'amc ambassador dpl'],
       [70, 'pontiac catalina'],
       [70, 'plymouth fury iii'],
       [70, 'chevrolet impala'],
       [70, 'ford galaxie 500'],
       [70, 'ford torino'],
       [70, 'amc rebel sst'],
       [70, 'plymouth satellite'],
       [70, 'buick skylark 320'],
       [70, 'chevrolet chevelle malibu']], dtype=object)

In [107]:
b.head(5)

     model year         car name
397          82       chevy s-10
396          82      ford ranger
395          82    dodge rampage
394          82        vw pickup
393          82  ford mustang gl

## 9. Correlation
 Compute the Pearson correlation coefficient between mpg and weight using
 NumPy.

In [110]:
arr_mpg=np.array(df1["mpg"])

In [112]:
print(arr_mpg)

[18.  15.  18.  16.  17.  15.  14.  14.  14.  15.  15.  14.  15.  14.
 24.  22.  18.  21.  27.  26.  25.  24.  25.  26.  21.  10.  10.  11.
  9.  27.  28.  25.  25.  19.  16.  17.  19.  18.  14.  14.  14.  14.
 12.  13.  13.  18.  22.  19.  18.  23.  28.  30.  30.  31.  35.  27.
 26.  24.  25.  23.  20.  21.  13.  14.  15.  14.  17.  11.  13.  12.
 13.  19.  15.  13.  13.  14.  18.  22.  21.  26.  22.  28.  23.  28.
 27.  13.  14.  13.  14.  15.  12.  13.  13.  14.  13.  12.  13.  18.
 16.  18.  18.  23.  26.  11.  12.  13.  12.  18.  20.  21.  22.  18.
 19.  21.  26.  15.  16.  29.  24.  20.  19.  15.  24.  20.  11.  20.
 21.  19.  15.  31.  26.  32.  25.  16.  16.  18.  16.  13.  14.  14.
 14.  29.  26.  26.  31.  32.  28.  24.  26.  24.  26.  31.  19.  18.
 15.  15.  16.  15.  16.  14.  17.  16.  15.  18.  21.  20.  13.  29.
 23.  20.  23.  24.  25.  24.  18.  29.  19.  23.  23.  22.  25.  33.
 28.  25.  25.  26.  27.  17.5 16.  15.5 14.5 22.  22.  24.  22.5 29.
 24.5 29.  33.  20.  18.  18.5 17.5 29.5 32.  28.  26.5 20.  13.  19.
 19.  16.5 16.5 13.  13.  13.  31.5 30.  36.  25.5 33.5 17.5 17.  15.5
 15.  17.5 20.5 19.  18.5 16.  15.5 15.5 16.  29.  24.5 26.  25.5 30.5
 33.5 30.  30.5 22.  21.5 21.5 43.1 36.1 32.8 39.4 36.1 19.9 19.4 20.2
 19.2 20.5 20.2 25.1 20.5 19.4 20.6 20.8 18.6 18.1 19.2 17.7 18.1 17.5
 30.  27.5 27.2 30.9 21.1 23.2 23.8 23.9 20.3 17.  21.6 16.2 31.5 29.5
 21.5 19.8 22.3 20.2 20.6 17.  17.6 16.5 18.2 16.9 15.5 19.2 18.5 31.9
 34.1 35.7 27.4 25.4 23.  27.2 23.9 34.2 34.5 31.8 37.3 28.4 28.8 26.8
 33.5 41.5 38.1 32.1 37.2 28.  26.4 24.3 19.1 34.3 29.8 31.3 37.  32.2
 46.6 27.9 40.8 44.3 43.4 36.4 30.  44.6 40.9 33.8 29.8 32.7 23.7 35.
 23.6 32.4 27.2 26.6 25.8 23.5 30.  39.1 39.  35.1 32.3 37.  37.7 34.1
 34.7 34.4 29.9 33.  34.5 33.7 32.4 32.9 31.6 28.1 30.7 25.4 24.2 22.4
 26.6 20.2 17.6 28.  27.  34.  31.  29.  27.  24.  23.  36.  37.  31.
 38.  36.  36.  36.  34.  38.  32.  38.  25.  38.  26.  22.  32.  36.
 27.  27.  44.  32.  28.  31. ]

In [114]:
arr_weight=np.array(df1["weight"])

In [116]:
print(arr_weight)

[3504 3693 3436 3433 3449 4341 4354 4312 4425 3850 3563 3609 3761 3086
 2372 2833 2774 2587 2130 1835 2672 2430 2375 2234 2648 4615 4376 4382
 4732 2130 2264 2228 2046 2634 3439 3329 3302 3288 4209 4464 4154 4096
 4955 4746 5140 2962 2408 3282 3139 2220 2123 2074 2065 1773 1613 1834
 1955 2278 2126 2254 2408 2226 4274 4385 4135 4129 3672 4633 4502 4456
 4422 2330 3892 4098 4294 4077 2933 2511 2979 2189 2395 2288 2506 2164
 2100 4100 3672 3988 4042 3777 4952 4464 4363 4237 4735 4951 3821 3121
 3278 2945 3021 2904 1950 4997 4906 4654 4499 2789 2279 2401 2379 2124
 2310 2472 2265 4082 4278 1867 2158 2582 2868 3399 2660 2807 3664 3102
 2875 2901 3336 1950 2451 1836 2542 3781 3632 3613 4141 4699 4457 4638
 4257 2219 1963 2300 1649 2003 2125 2108 2246 2489 2391 2000 3264 3459
 3432 3158 4668 4440 4498 4657 3907 3897 3730 3785 3039 3221 3169 2171
 2639 2914 2592 2702 2223 2545 2984 1937 3211 2694 2957 2945 2671 1795
 2464 2220 2572 2255 2202 4215 4190 3962 4215 3233 3353 3012 3085 2035
 2164 1937 1795 3651 3574 3645 3193 1825 1990 2155 2565 3150 3940 3270
 2930 3820 4380 4055 3870 3755 2045 2155 1825 2300 1945 3880 4060 4140
 4295 3520 3425 3630 3525 4220 4165 4325 4335 1940 2740 2265 2755 2051
 2075 1985 2190 2815 2600 2720 1985 1800 1985 2070 1800 3365 3735 3570
 3535 3155 2965 2720 3430 3210 3380 3070 3620 3410 3425 3445 3205 4080
 2155 2560 2300 2230 2515 2745 2855 2405 2830 3140 2795 3410 1990 2135
 3245 2990 2890 3265 3360 3840 3725 3955 3830 4360 4054 3605 3940 1925
 1975 1915 2670 3530 3900 3190 3420 2200 2150 2020 2130 2670 2595 2700
 2556 2144 1968 2120 2019 2678 2870 3003 3381 2188 2711 2542 2434 2265
 2110 2800 2110 2085 2335 2950 3250 1850 1835 2145 1845 2910 2420 2500
 2905 2290 2490 2635 2620 2725 2385 1755 1875 1760 2065 1975 2050 1985
 2215 2045 2380 2190 2320 2210 2350 2615 2635 3230 3160 2900 2930 3415
 3725 3060 3465 2605 2640 2395 2575 2525 2735 2865 3035 1980 2025 1970
 2125 2125 2160 2205 2245 1965 1965 1995 2945 3015 2585 2835 2665 2370
 2950 2790 2130 2295 2625 2720]

In [118]:
cc=np.corrcoef(arr_mpg, arr_weight)

In [120]:
print(cc)

[[ 1.         -0.83174093]
 [-0.83174093  1.        ]]

In [122]:
pc=cc[0,1]

In [124]:
print(f"pearson correlation coefficient:{pc}")

pearson correlation coefficient:-0.8317409332443352

## 10.Conditional Aggregates
 Calculate the mean mpg for cars grouped by the number of cylinders using NumPy 
 techniques.

In [127]:
cyl1=df1["cylinders"].unique()

In [129]:
for c in cyl1:
    part=df1[df1["cylinders"]==c]
    avg=part["mpg"].mean()
    print("average mean mpg of {} cylinders grouped is:{}".format(c,avg))

average mean mpg of 8 cylinders grouped is:14.963106796116506
average mean mpg of 4 cylinders grouped is:29.28676470588235
average mean mpg of 6 cylinders grouped is:19.985714285714284
average mean mpg of 3 cylinders grouped is:20.55
average mean mpg of 5 cylinders grouped is:27.366666666666664

## PandasProblems

## 1. BasicExploration
 Load the data set into a Pandas DataFrame.Display:         
 ○ The first 10 rows    
 ○ The total number of rows and columns           
 ○ Summary statistics for numerical columns

In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("C:\\Users\\niranjana\\Downloads\\auto-mpg.csv")

In [3]:
df1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [7]:
df1.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl

In [9]:
df1.shape[0]         #returns number of rows

398

In [11]:
df1.shape[1]            #return number of columns

9

In [13]:
df1.describe()               #summary statistics for numerical column

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

 ## 2. Filtering andIndexing
 Find all cars manufactured in 1975 with a weight less than 3000. Return the
 DataFrame with selected columns:car_name,weight,and mpg.

In [16]:
condition= (df1["model year"]==1975) &(df1["weight"]<3000)
condition

0      False
1      False
2      False
3      False
4      False
       ...
393    False
394    False
395    False
396    False
397    False
Length: 398, dtype: bool

In [18]:
df1[condition]

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

## 3. Handling Missing Data
 Identify if there are any missing values in the data set.   
Replace missing values in the
 horsepower column with the column's median.

In [21]:
df1.isnull()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
393,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False

In [23]:
df1.isnull().sum(True)

0      0
1      0
2      0
3      0
4      0
      ..
393    0
394    0
395    0
396    0
397    0
Length: 398, dtype: int64

In [25]:
#therefore no null values in this data set

 ## 4. DataTransformation
 Add a new column power_to_weight_ratio,calculated as horsepower/weight.

In [28]:
df1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [31]:
df1['horsepower'] = pd.to_numeric(df1['horsepower'], errors='coerce')
df1['weight'] = pd.to_numeric(df1['weight'], errors='coerce')

In [33]:
df1['power_to_weight_ratio'] = df1['horsepower'] / df1['weight']

In [100]:
df1['power_to_weight_ratio']

0      0.037100
1      0.044679
2      0.043655
3      0.043694
4      0.040591
         ...
393    0.030824
394    0.024413
395    0.036601
396    0.030095
397    0.030147
Name: power_to_weight_ratio, Length: 398, dtype: float64

In [102]:
df1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,power_to_weight_ratio,performance_score
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,0.037100,0.061644
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,0.044679,0.046710
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,0.043655,0.057625
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,0.043694,0.055928
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,0.040591,0.051754
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl,0.030824,0.150968
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,0.024413,0.508169
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage,0.036601,0.161743
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger,0.030095,0.198400
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10,0.030147,0.221103

 ## 5. GroupBy
 Group the cars by origin and calculate the mean mpg for each group

In [40]:
df1.groupby("origin")

In [42]:
mean_mpg_by_orgin=(df1.groupby("origin")["mpg"].mean())

In [44]:
mean_mpg_by_orgin

origin
1    20.083534
2    27.891429
3    30.450633
Name: mpg, dtype: float64

### 6. Sorting
 Sort the DataFrame by mpg in descending order and display the top 10 cars with
 the highest mpg.
 Apply Function
 Create a new column performance_score using a custom function:
 def performance_score(row):
 return row['mpg'] *row['acceleration'] / row['weight']

In [47]:
df3=df1.sort_values(by="mpg",ascending=False)

In [49]:
df3

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,power_to_weight_ratio
322,46.6,4,86.0,65.0,2110,17.9,80,3,mazda glc,0.030806
329,44.6,4,91.0,67.0,1850,13.8,80,3,honda civic 1500 gl,0.036216
325,44.3,4,90.0,48.0,2085,21.7,80,2,vw rabbit c (diesel),0.023022
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,0.024413
326,43.4,4,90.0,48.0,2335,23.7,80,2,vw dasher (diesel),0.020557
...,...,...,...,...,...,...,...,...,...,...
103,11.0,8,400.0,150.0,4997,14.0,73,1,chevrolet impala,0.030018
67,11.0,8,429.0,208.0,4633,11.0,72,1,mercury marquis,0.044895
25,10.0,8,360.0,215.0,4615,14.0,70,1,ford f250,0.046587
26,10.0,8,307.0,200.0,4376,15.0,70,1,chevy c20,0.045704
28,9.0,8,304.0,193.0,4732,18.5,70,1,hi 1200d,0.040786

In [51]:
df3.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,power_to_weight_ratio
322,46.6,4,86.0,65.0,2110,17.9,80,3,mazda glc,0.030806
329,44.6,4,91.0,67.0,1850,13.8,80,3,honda civic 1500 gl,0.036216
325,44.3,4,90.0,48.0,2085,21.7,80,2,vw rabbit c (diesel),0.023022
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,0.024413
326,43.4,4,90.0,48.0,2335,23.7,80,2,vw dasher (diesel),0.020557

In [53]:
def performance_score(row):
    return row['mpg'] * row['acceleration'] / row['weight']

In [55]:
df1['performance_score'] = df1.apply(performance_score, axis=1)

In [57]:
df1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,power_to_weight_ratio,performance_score
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,0.037100,0.061644
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320,0.044679,0.046710
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite,0.043655,0.057625
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst,0.043694,0.055928
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino,0.040591,0.051754
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl,0.030824,0.150968
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup,0.024413,0.508169
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage,0.036601,0.161743
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger,0.030095,0.198400
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10,0.030147,0.221103

 ## 8. VisualizationPreparation
 Generate a summary DataFrame with:  
 ○ Averagempg,weight,and horsepower for each model_year

In [60]:
df1.groupby("model year")

In [83]:
summary_df =(df1.groupby('model year')[['mpg', 'weight', 'horsepower']].mean())

In [85]:
print(summary_df)

                  mpg       weight  horsepower
model year
70          17.689655  3372.793103  147.827586
71          21.250000  2995.428571  107.037037
72          18.714286  3237.714286  120.178571
73          17.100000  3419.025000  130.475000
74          22.703704  2877.925926   94.230769
75          20.266667  3176.800000  101.066667
76          21.573529  3078.735294  101.117647
77          23.375000  2997.357143  105.071429
78          24.061111  2861.805556   99.694444
79          25.093103  3055.344828  101.206897
80          33.696552  2436.655172   77.481481
81          30.334483  2522.931034   81.035714
82          31.709677  2453.548387   81.466667

 ## 9. ExportingData
 Save a subset of the data containing only mpg,cylinders,horsepower,and weight
 for cars with mpg>30 into a CSV file named high_mpg_cars.csv.

In [90]:
new_df = df1[df1['mpg'] > 30]

In [92]:
print(new_df)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
53   31.0          4          71.0        65.0    1773          19.0
54   35.0          4          72.0        69.0    1613          18.0
129  31.0          4          79.0        67.0    1950          19.0
131  32.0          4          71.0        65.0    1836          21.0
144  31.0          4          76.0        52.0    1649          16.5
..    ...        ...           ...         ...     ...           ...
390  32.0          4         144.0        96.0    2665          13.9
391  36.0          4         135.0        84.0    2370          13.0
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
397  31.0          4         119.0        82.0    2720          19.4

     model year  origin             car name  power_to_weight_ratio  \
53           71       3  toyota corolla 1200               0.036661
54           71       3          datsun 1200               0.042777
129          74       3          datsun b210               0.034359
131          74       3  toyota corolla 1200               0.035403
144          74       3        toyota corona               0.031534
..          ...     ...                  ...                    ...
390          82       3     toyota celica gt               0.036023
391          82       1    dodge charger 2.2               0.035443
394          82       2            vw pickup               0.024413
395          82       1        dodge rampage               0.036601
397          82       1           chevy s-10               0.030147

     performance_score
53            0.332205
54            0.390577
129           0.302051
131           0.366013
144           0.310188
..                 ...
390           0.166904
391           0.197468
394           0.508169
395           0.161743
397           0.221103

[85 rows x 11 columns]

In [114]:
subset_df=new_df[["mpg","cylinders","horsepower","weight"]]

In [116]:
subset_df

      mpg  cylinders  horsepower  weight
53   31.0          4        65.0    1773
54   35.0          4        69.0    1613
129  31.0          4        67.0    1950
131  32.0          4        65.0    1836
144  31.0          4        52.0    1649
..    ...        ...         ...     ...
390  32.0          4        96.0    2665
391  36.0          4        84.0    2370
394  44.0          4        52.0    2130
395  32.0          4        84.0    2295
397  31.0          4        82.0    2720

[85 rows x 4 columns]

In [122]:
subset_df.to_csv('high_mpg_cars.csv')

In [124]:
print("Data has been exported to 'high_mpg_cars.csv'.")

Data has been exported to 'high_mpg_cars.csv'.

## 10. Finding Anomalies
 Identify potential outliers in the mpg column using the Inter quartile Range(IQR)
 method.Specifically:
 ● Calculate the IQR for mpg.
 
● Define outliers as values less than Q1- 1.5 * IQR or greater than Q3 +
 1.5 * IQR.
 ● Create a DataFrame of cars classified as outliers,displaying car_name,mpg,
 and model_year.

In [127]:
Q1 = df1['mpg'].quantile(0.25)
Q3 = df1['mpg'].quantile(0.75)

In [129]:
IQR=Q3-Q1

In [131]:
IQR

11.5

In [137]:
outlier1=Q1- 1.5 * IQR

In [139]:
outliers

0.25

In [141]:
outlier2=Q3 + 1.5 * IQR

In [143]:
outlier2

46.25

In [147]:
cars_df = df1[(df1['mpg'] < outlier1) | (df1['mpg'] > outlier2)]

In [149]:
cars_df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,power_to_weight_ratio,performance_score
322,46.6,4,86.0,65.0,2110,17.9,80,3,mazda glc,0.030806,0.395327

In [155]:
cars_df = cars_df[['car name', 'mpg', 'model year']]

In [157]:
cars_df

      car name   mpg  model year
322  mazda glc  46.6          80